<div id="redmine_bookmark_action_menu" style="display: none">
  <%=
    link_to l(:button_add_redmine_bookmark),
      add_redmine_bookmark_path(id: @issue, format: 'js'),
      class: 'icon icon-fav',
      method: 'post',
      data: { remote: true }
  %>
</div>

<%= javascript_tag do %>
  $(function() {
    var $favButton = $('.contextual').find('.icon-fav, .icon-fav-off');
    var $bookmarkButton = $('#redmine_bookmark_action_menu').children();
    $bookmarkButton.insertAfter($favButton);
  });
<% end %>
