<div id="redmine_bookmark_action_menu" style="display: none">
  <%= redmine_bookmark_button(@issue) %>
</div>

<%= javascript_tag do %>
  $(function() {
    var $favButtons = $('.contextual').children('.icon-fav, .icon-fav-off');
    var $bookmarkButtonContainer = $('#redmine_bookmark_action_menu');
    var $bookmarkButton = $bookmarkButtonContainer.find('a');
    $favButtons.each(function() {
      $bookmarkButton.clone().insertAfter($(this));
    });
    $bookmarkButtonContainer.remove();
  });
<% end %>
